<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
        <div class="sidebar-brand-text mx-3">ParallelManager</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Tools
    </div>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'stress' %}">
            <i class="fas fa-fw fa-vial"></i>
            <span>Stress Test</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'benchmark' %}">
            <i class="fas fa-fw fa-traffic-light"></i>
            <span>Benchmark</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        System
    </div>

    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-retweet"></i>
            <span>Reboot</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-power-off"></i>
            <span>Shutdown</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-eraser"></i>
            <span>Reset</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">
            <i class="fas fa-fw fa-unlock"></i>
            <span>Logout</span></a>
    </li>
</ul>
<!-- End of Sidebar -->
