<!-- Content Row -->
<div class="row">
    <div class="col-xl-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-secondary">VM Instance List</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>External IP</th>
                            <th>Internal IP</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for node in nodes %}
                            <tr>
                                <td>{{ node.node_name }}</td>
                                <td>{{ node.client_id }}</td>
                                <td>{{ node.machine_type }}</td>
                                <td>{{ node.status }}</td>
                                <td>{{ node.external_ip }}</td>
                                <td>{{ node.internal_ip }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>