{% extends 'initializer/init.html' %}
{% block body %}
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Provide your project name.</h1>
                            </div>
                            {% if error %}
                                <div class="text-center">
                                    <p class="small">The project does not exist. Try again.</p>
                                </div>
                            {% endif %}
                            <form class="user" method="post" action="">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="project_name"
                                           name="project_name" placeholder="Project name" value="{{ project_name }}" required>
                                </div>
                                <input type="submit" class="btn btn-primary btn-user btn-block"
                                       value="OK">
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'init_reset' reset='reset' %}">Go Back (Reset)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}